:root {font-size: 100%;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 5vh;
    background: rgb(18, 18, 19);
    height: 100vh;
    overflow: hidden;
}

input, button {
    background-color: rgb(58, 58, 60);
    border: none;
    color: rgb(248, 248, 248);
    margin-right: 1vh;
    font-weight: bold;
    height: 7vh;
    font-size: 4vh;
}

input {
    width: 50vh;
}
 
#header {
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.747);
    width: 100vw;
    height: 3vh;
    color: rgb(58, 58, 60);
    font-weight: bold;
    padding-top: 0.5vh;
    font-size: 2vh;
}

#container {
    padding-top: 5vh;
}

.box {
    padding-top: 1.5vh;
    font-weight: bold;
    font-size: 7vh;
    color: rgb(248, 248, 248);
    display: inline-block;
    width: 10vh;
    height: 10vh;
    background-color: rgb(129, 131, 132);
    margin: 1vh;
}

.boxLetters {
    padding-top: 1.5vh;
    font-weight: bold;
    font-size: 3vh;
    color: rgb(248, 248, 248);
    display: inline-block;
    width: 6vh;
    height: 6vh;
    background-color: rgb(129, 131, 132);
    margin: 0.5vh;
}

#containerLetters {
    position: fixed;
    left: 0;
    top: 0;
    padding: 2vh;
}

.green { background-color: rgb(83, 141, 78); }
.yellow { background-color: rgb(218, 178, 45); }
.grey { background-color: rgb(58, 58, 60); }


@media (max-width: 400px) {
    .boxLetters {
        display: none;

    }
}

@media (max-width: 270px){
    .box {
        width: 7vh;
        height: 7vh;
    }

    input, button {
        height: 5vh;
        font-size: 3vh;
    }
    
    input {
        width: 30vh;
    }
}